@charset "UTF-8";
.header {
  height: 100vh;
  padding: 1px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-block__title {
  margin-top: 5%;
  margin-right: 38%;
  max-width: 550px;
  font-size: 50px;
}

.header-block__img {
  position: absolute;
  height: 95%;
  z-index: -4;
}

.nav {
  margin: auto;
  margin-top: 10px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 0;
}

.nav-menu__title {
  margin-left: 20px;
  display: inline;
  font-size: 18px;
  list-style-type: none;
}

.nav-menu__title a:hover {
  border-bottom: 1.2px solid #1261AC;
  text-decoration: none;
}

.nav__button {
  max-height: 50px;
  margin: auto;
  margin-right: 0;
  background: #D2F2FF;
  font-size: 22px;
  font-weight: 700;
  padding: 7px 43px;
  border: 1px solid #D2F2FF;
  border-radius: 30px;
  cursor: pointer;
  outline: none !important;
}

.nav__button:hover {
  background: #DBF5FF;
  border: 1px solid #DBF5FF;
}

.nav__logo {
  height: 70px;
}

.nav__icon {
  display: none;
  height: 40px;
}

.title-effect {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 5px 0;
  padding: 0 5px 5px 5px;
  background: #D2F2FF;
  border-radius: 10px;
}

.discount {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount__25 {
  background: #0800FF;
  padding: 22px 45px;
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.discount-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(91deg, #d6f2fd 0%, #02acf1 100%);
}

.discount-time__button {
  color: white;
  background: #0800FF;
  border: 1px solid #0800FF;
  border-radius: 14px;
  padding: 5px 50px;
  font-size: 35px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin: auto;
}

.discount-time__button:hover {
  background: #3944FE;
  border: 1px solid #3944FE;
}

.countdown {
  list-style: none;
  margin: auto;
  padding: 0;
  display: block;
  padding-right: 20px;
}

.countdown__text {
  font-size: 17px;
  font-weight: 700;
}

.countdown li {
  display: inline-block;
}

/* здесь дни, часы, минуты, секунды */
.countdown li span {
  width: auto;
  color: #000;
  font: 40px Verdana;
  display: inline-block;
}

.countdown li.seperator {
  color: #000;
  font: 40px Verdana;
  vertical-align: top;
}

.countdown li div {
  margin: 0;
  color: #000;
  font: 20px Verdana;
}

@media (max-width: 1199.98px) {
  .discount__25 {
    font-size: 40px;
    padding: 24px 28px;
  }
  .discount-time {
    padding: 5px 28px;
  }
  .discount-time__button {
    font-size: 30px;
    padding: 5px 30px;
  }
  .countdown {
    padding-right: 17px;
  }
}

@media (max-width: 991.98px) {
  .nav-menu__title {
    font-size: 15px;
  }
  .nav__button {
    font-size: 17px;
  }
  .nav__logo {
    height: 50px;
  }
  .header-block__title {
    font-size: 43px;
    margin-right: 33%;
    margin-top: 17%;
  }
  .header-block__img {
    height: 91%;
    right: 0;
  }
  .discount__25 {
    font-size: 30px;
    padding: 23px 5px;
  }
  .discount-time {
    padding: 0px 11px;
  }
  .discount-time__button {
    font-size: 24px;
    padding: 5px 18px;
  }
  .countdown {
    padding-right: 12px;
  }
  .countdown li div {
    font-size: 17px;
  }
  .countdown li span {
    font-size: 36px;
  }
}

@media (max-width: 767.98px) {
  .nav__logo {
    height: 45px;
  }
  .nav__button {
    padding: 7px 34px;
  }
  .nav-menu {
    display: none;
  }
  .nav__icon {
    display: block;
  }
  .icon {
    margin: auto;
    margin-left: 45%;
  }
  .header-block__title {
    font-size: 32px;
    margin-top: 24%;
  }
  .header-block__img {
    height: 84%;
  }
  .discount {
    display: block;
  }
  .discount__25 {
    text-align: center;
    padding: 17px 5px;
  }
  .discount-time {
    padding: 5px 28px;
  }
}

@media (max-width: 575.98px) {
  .nav {
    width: 90%;
  }
  .nav__button {
    padding: 7px 30px;
    font-size: 16px;
    margin: 0;
  }
  .nav__logo {
    height: 40px;
  }
  .icon {
    margin-left: auto;
    margin-right: 20px;
  }
  .header-block {
    width: 90%;
    margin: auto;
  }
  .header-block__title {
    max-width: 270px;
    font-size: 25px;
    margin-right: 36%;
    margin-top: 19%;
  }
  .header-block__img {
    height: 75%;
  }
  .discount {
    display: block;
    left: 0;
    right: 0;
  }
  .discount-time {
    padding: 0;
    text-align: center;
  }
  .countdown {
    padding: 5px 22px;
  }
  .countdown__text {
    margin: auto;
  }
  .countdown li span {
    font-size: 30px;
  }
  .countdown li.seperator {
    font: 28px Verdana;
  }
}

@media (max-width: 540px) {
  .discount-time {
    display: block;
  }
  .discount-time__button {
    margin: 0 0 10px 0;
  }
  .header-block__title {
    margin-top: 18%;
    max-width: 279px;
    margin-right: 29%;
  }
  .header-block__img {
    height: 69%;
  }
}

@media (max-width: 420px) {
  .header-block__title {
    font-size: 21px;
    margin-top: 28%;
    max-width: 240px;
    margin-right: 18%;
  }
  .header-block__img {
    height: 63%;
    margin-right: 0;
  }
}

.shower {
  position: relative;
  background-image: url(../img/shower/abc.jpg), url(../img/shower/back.png);
  background-position: left center, center right;
  background-size: 38%, cover;
  background-repeat: repeat-y, no-repeat;
}

.shower-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shower-block__img {
  max-height: 555px;
}

.block-text {
  margin-top: 20px;
}

.block-text__title {
  padding-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

.block-text__text {
  margin: 25px 0;
  position: relative;
  z-index: 2;
}

.block-text-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-text-buttons__btn1 {
  margin-bottom: 20px;
}

.block-text-buttons__btn2 {
  padding: 5px 25px;
  background: #8CDEFF;
  border: 1px solid #8CDEFF;
  border-radius: 30px;
  outline: none;
}

.block-text-buttons__btn2:hover {
  background: #AAE6FF;
  border: 1px solid #AAE6FF;
}

.block-text-buttons__basis {
  z-index: 2;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  -webkit-transform: translate(10px 50%);
          transform: translate(10px 50%);
}

.block-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 17px;
}

.block-text-box__discount {
  text-decoration: line-through;
}

.block-text-box__discount-25 {
  color: red;
  font-weight: 700;
}

.block-text-box__also {
  text-align: center;
}

.also__img {
  border: 4px solid #8CDEFF;
  text-align: center;
  height: 150px;
  cursor: pointer;
  margin-bottom: 20px;
}

.also__text {
  margin: 10px 0;
  font-weight: 700;
}

.btn-box {
  z-index: 2;
}

.shower-box {
  position: absolute;
  right: 0;
  -webkit-transform: translate(0%, -203%);
          transform: translate(0%, -203%);
  background: -webkit-gradient(linear, left top, right top, from(#eefaff), color-stop(22%, #d6f3ff), to(#82dbff));
  background: linear-gradient(90deg, #eefaff 0%, #d6f3ff 22%, #82dbff 100%);
  width: 50%;
  height: 26%;
}

@media (max-width: 1199.98px) {
  .shower {
    background-size: 34%, cover;
  }
  .block-text__text {
    max-width: 80%;
  }
}

@media (max-width: 991.98px) {
  .shower {
    background-size: 32%, cover;
  }
  .shower-block-text {
    max-width: 72%;
  }
  .shower-block__img {
    max-height: 430px;
  }
  .block-text__text {
    margin: 20px auto;
    margin-left: 26px;
    max-width: 95%;
  }
  .block-text-buttons__basis {
    padding: 0;
    padding-left: 30px;
  }
  .block-text-buttons__btn2 {
    padding: 5px 15px;
  }
  .shower-box {
    height: 24%;
    -webkit-transform: translate(0%, -215%);
            transform: translate(0%, -215%);
  }
  .btn-box {
    margin-left: 23px;
  }
  .discount-box {
    margin-left: 23px;
  }
}

@media (max-width: 767.98px) {
  .shower {
    height: auto;
  }
  .shower-block__img {
    height: 400px;
  }
  .block-text-buttons {
    display: block;
  }
  .block-text-buttons__basis {
    background: #8CDEFF;
    padding: 10px;
    max-width: 87%;
    margin: auto;
  }
  .block-text-buttons__btn1 {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .block-text__text {
    max-width: 82%;
  }
  .also__img {
    margin-bottom: 20px;
  }
  .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px;
  }
  .shower-box {
    display: none;
  }
  .discount-box {
    margin-left: 25px;
  }
}

@media (max-width: 575.98px) {
  .shower {
    background-image: none;
  }
  .shower-block {
    display: block;
    text-align: center;
  }
  .shower-block-text {
    background: #EEFAFF;
    max-width: 100%;
  }
  .block-text {
    text-align: start;
  }
  .block-text__text {
    max-width: 90%;
    margin: 10px auto;
  }
  .block-text__title {
    padding-top: 20px;
  }
  .block-text-box {
    max-width: 90%;
    margin: auto;
  }
  .block-text-buttons__btn1 {
    margin-bottom: 0;
    margin-right: 0;
  }
  .btn-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .also__img {
    height: 125px;
  }
}

@media (max-width: 420px) {
  .btn-box {
    display: block;
    text-align: center;
  }
  .block-text__text {
    font-size: 15px;
  }
  .block-text-buttons {
    font-size: 15px;
  }
  .block-text-buttons__btn1 {
    margin-bottom: 20px;
  }
  .discount-box {
    margin-left: 0;
  }
  .also {
    font-size: 15px;
  }
  .also__img {
    height: 100px;
  }
}

.jug {
  background-image: url(../img/shower/abc.jpg), url(../img/jug/back.png);
  background-position: left center, center right;
  background-size: 38%, cover;
  background-repeat: repeat-y, no-repeat;
  position: relative;
}

.jug-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jug-block-img {
  display: -ms-grid;
  display: grid;
}

.jug-block__img {
  height: 400px;
  padding-right: 40px;
}

.jug-block__imgs {
  height: 100px;
}

@media (max-width: 1199.98px) {
  .jug {
    background-size: 34%, cover;
  }
  .jug-block__imgs {
    margin-bottom: 60%;
    height: 80px;
  }
  .jug-block__img {
    height: 337px;
    padding-right: 0;
  }
}

@media (max-width: 991.98px) {
  .jug {
    background-size: 32%, cover;
  }
  .jug-block-img {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-left: -30px;
    margin-right: 30px;
  }
  .jug-block__imgs {
    height: 57px;
  }
  .jug-block__img {
    height: 234px;
    padding-right: 0;
  }
  .jug-button {
    margin-left: 23px;
  }
}

@media (max-width: 767.98px) {
  .jug {
    height: auto;
    background-size: 32%, cover;
  }
  .jug-block-img {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-left: -67px;
    margin-right: 27px;
  }
  .jug-block__imgs {
    height: 48px;
    margin-left: 19px;
  }
  .jug-block__img {
    height: 219px;
    padding-right: 0;
  }
  .jug-text {
    max-width: 97%;
  }
}

@media (max-width: 575.98px) {
  .jug {
    background-image: none;
  }
  .jug-block {
    display: block;
  }
  .jug-block-img {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
  }
  .jug-block__imgs {
    margin: auto;
  }
  .block-text {
    background: #D2F2FF;
  }
  .block-text__text {
    max-width: 90%;
  }
  .jug-button {
    margin-top: 15px;
  }
}

.contacts {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), color-stop(50%, #EEFAFF));
  background: linear-gradient(to right, #FFFFFF 50%, #EEFAFF 50%);
  padding: 110px 0;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__phone:hover {
  color: black;
  text-decoration: none;
}

.block-form {
  display: block;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-left: 35%;
}

.block-form__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
}

.block-contacts__title {
  color: black;
  text-align: start;
  padding: 0;
}

.block-contacts__name {
  margin-top: 43px;
}

.block-contacts__text {
  margin-top: 10px;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #00B5FF;
  border-radius: 13px;
  padding: 16px 15px;
  margin-bottom: 30px;
  outline: none;
}

.modal-dialog__button {
  width: 100%;
  color: white;
  background: #00ABF1 !important;
  border: 1px solid #00ABF1 !important;
  border-radius: 13px !important;
  padding: 19px 15px !important;
}

.video {
  width: 100%;
}

@media (max-width: 1199.98px) {
  .block-form__title {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .block-form {
    margin-left: 20%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 767.98px) {
  .block-form__title {
    margin-bottom: 25px;
  }
  .input {
    padding: 12px 15px;
  }
  .modal-dialog__button {
    padding: 14px 15px !important;
  }
}

@media (max-width: 575.98px) {
  .contacts {
    padding: 50px 0;
    background: white;
  }
  .block-form {
    display: none;
  }
  .block-contacts__title {
    text-align: center;
    padding: 20px 0;
  }
  .block-contacts__name {
    margin-top: 17px;
  }
  .block-contacts__text {
    margin-top: 15px;
    font-size: 14px;
  }
  .cont-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cont-block-box2 {
    margin-left: 40px;
  }
}

@media (max-width: 540px) {
  .cont-block {
    display: block;
  }
  .cont-block-box2 {
    margin-left: 0;
  }
  .block-contacts {
    text-align: center;
  }
}

.company {
  padding-bottom: 40px;
  background: #EEFAFF;
}

.company__title {
  padding-bottom: 40px;
  color: black;
}

.company-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 40px;
}

.company-block__img {
  width: 50%;
  border-radius: 25px;
}

.company-block__text {
  max-width: 50%;
  margin-left: 40px;
}

@media (max-width: 991.98px) {
  .company {
    padding: 20px 0;
  }
  .company__title {
    padding-bottom: 20px;
  }
  .company-block {
    display: block;
    padding-bottom: 20px;
  }
  .company-block__img {
    width: 100%;
  }
  .company-block__text {
    max-width: 100%;
    margin: 20px 20px 0 20px;
  }
}

@media (max-width: 575.98px) {
  .company {
    padding: 0;
  }
  .company-block {
    width: 90%;
    margin: auto;
  }
  .company-block__text {
    text-align: justify;
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .company-block {
    width: 95%;
  }
  .company-block__text {
    margin: 20px 13px 0 13px;
    text-align: start;
    font-size: 14px;
  }
}

.license {
  padding-bottom: 40px;
}

.license__title {
  color: black;
}

.icon {
  max-height: 55px;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px !important;
}

@media (max-width: 575px) {
  .owl-carousel .owl-item img {
    width: 70%;
    margin: auto;
  }
}

.reviews {
  padding-bottom: 40px;
  background: #D2F2FF;
}

.reviews__title {
  color: black;
}

.rev-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  margin-bottom: 20px;
}

.rev-block__text {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  line-height: 1.6;
}

.rev-block__img {
  width: 33% !important;
}

.owl {
  margin: 0;
}

#rev-6-block-text {
  width: 54%;
}

#image {
  width: 24.7% !important;
}

#image-2 {
  width: 29.3% !important;
}

@media (max-width: 991.98px) {
  .rev-block {
    margin-bottom: 0;
  }
  .rev-block__img {
    width: 41% !important;
  }
  .rev-block__text {
    width: 56%;
    margin-left: 20px;
  }
  #image {
    width: 30.7% !important;
  }
  #image-2 {
    width: 36.3% !important;
  }
}

@media (max-width: 767.98px) {
  .rev-block {
    display: block;
    margin-bottom: 0;
  }
  .rev-block__text {
    width: 70%;
    margin-top: 11px;
    margin-left: auto;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 20px;
  }
  .rev-block__img {
    margin: auto;
  }
}

@media (max-width: 575.98px) {
  .rev-block {
    width: 90%;
    margin: auto;
  }
  #image, #image-2 {
    width: 50% !important;
  }
}

@media (max-width: 420px) {
  .rev-block__text {
    text-align: start;
    font-size: 14px;
  }
  .rev-block__img {
    width: 60% !important;
  }
  #rev-6-block-text {
    width: 72%;
  }
}

.modal {
  display: none;
  overflow: auto;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-box__img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  cursor: pointer;
}

.form__title {
  margin-bottom: 40px;
}

.box {
  position: relative;
  padding: 80px 80px;
  background: white;
  border: 3px solid #1493E6;
}

.modalshower {
  display: none;
}

.modalshower_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.box-shower {
  position: relative;
  padding: 80px 80px;
  background: white;
  border: 3px solid #1493E6;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  padding: 50px;
}

.box-shower_active {
  display: block;
}

.box-shower__img {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  cursor: pointer;
}

.box-shower__button {
  text-align: center;
  margin-top: 30px;
}

.modalshowerwork {
  display: none;
}

.modalshowerwork_active {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button_word {
  background: none;
  color: #00B2FA;
  border: none;
  outline: none !important;
  padding: 0;
}

.lenardmodal {
  display: none;
}

.lenardmodal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.lenard-block {
  position: relative;
  width: 70%;
  margin: auto;
  background: white;
  padding: 50px;
  border: 3px solid #1493E6;
  border-radius: 15px;
}

.lenard-block__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 19px;
}

.lenard-block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.lenard-block-box__img {
  width: 250px;
  border-radius: 20px;
}

.lenard-block-box__text {
  width: 70%;
}

.stonemodal {
  display: none;
}

.stonemodal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.stone-block {
  position: relative;
  width: 70%;
  margin: auto;
  background: white;
  padding: 50px;
  border: 3px solid #1493E6;
  border-radius: 15px;
}

.stone-block__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 19px;
}

.stone-block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.stone-block-box__img {
  width: 250px;
  border-radius: 20px;
}

.stone-block-box__text {
  width: 70%;
}

@media (max-width: 991.98px) {
  .box-shower {
    width: 90%;
    padding: 50px 30px;
  }
  .stone-block {
    padding: 30px;
    width: 90%;
  }
  .stone-block-box {
    display: block;
    text-align: center;
  }
  .stone-block-box__text {
    text-align: start;
    width: 100%;
    margin-bottom: 15px;
  }
  .stone-block__title {
    margin-bottom: 10px;
  }
  .lenard-block {
    padding: 30px;
    width: 90%;
  }
  .lenard-block-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .stone-block-box__text {
    font-size: 14px;
  }
  .lenard-block-box__text {
    font-size: 14px;
  }
  .box-shower {
    font-size: 14px;
  }
  .lenard-block-box {
    display: block;
    text-align: center;
  }
  .lenard-block-box__text {
    text-align: start;
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 540px) {
  .box-shower {
    width: 97%;
    padding: 50px 10px 10px 10px;
  }
  .stone-block {
    width: 97%;
    padding: 10px;
  }
  .stone-block__title {
    font-size: 16px;
  }
  .lenard-block {
    width: 97%;
    padding: 10px;
  }
  .lenard-block__title {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .lenard-block-box__img {
    width: 200px;
  }
  .lenard-block__title {
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .lenard-block-box {
    margin-bottom: 0;
  }
  .stone-block__title {
    margin-top: 20px;
  }
  .lenard-block-box__img {
    width: 150px;
  }
  .stone-block-box__img {
    width: 150px;
  }
  .box-shower {
    padding: 50px 10px 10px 10px;
  }
  .box-shower__button {
    margin-top: 15px;
  }
  .box {
    padding: 45px 60px;
    width: 95%;
  }
  .form__title {
    text-align: center;
  }
  input {
    font-size: 14px;
    padding: 8px 15px;
  }
}

.modalmenu_active {
  display: block;
  background-color: #D2F2FF;
}

.modalmenu-block__text {
  margin-bottom: 50%;
  font-size: 23px;
  text-align: center;
}

.box-menumodal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.filtermodal {
  display: none;
  height: 100vh;
}

.filtermodal_active {
  background-image: url(../img/shower/abc.jpg), url(../img/shower/back.png);
  background-position: left center, center right;
  background-size: 38%, cover;
  background-repeat: repeat-y, no-repeat;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 39%;
  margin: 0 auto;
}

.filter-box {
  margin: 0 auto;
}

.filter__img {
  margin-left: 3%;
}

.filter-block {
  margin-top: 5%;
}

.filter-block__text {
  margin: 25px auto 0 auto;
  text-align: start;
  line-height: 1.7;
}

.filter-box {
  margin-top: 5%;
}

.filter-button {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  margin-top: 4%;
  outline: none !important;
  padding: 9px 54px !important;
}

@media (max-width: 991.98px) {
  .filter-block {
    width: 44%;
  }
  .filter__img {
    height: 84%;
    margin: auto;
  }
  .filtermodal_active {
    background-size: 45%, cover;
  }
}

@media (max-width: 767.98px) {
  .filter-block {
    width: 49%;
  }
  .filter__img {
    height: 60%;
  }
  .filtermodal_active {
    background-size: 39%, cover;
  }
}

@media (max-width: 575.98px) {
  .filter-block__text {
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .filtermodal_active {
    background-size: 100%, cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter-block {
    background: #EEFAFF;
    width: 100%;
    padding-bottom: 7%;
  }
  .filter-block__text {
    padding: 0 3%;
  }
}

@media (max-width: 420px) {
  .block-text__title {
    padding-top: 0;
  }
  .filter-block {
    padding-bottom: 0;
  }
  .filter-button {
    margin-bottom: 5%;
  }
  .filter-box {
    margin-bottom: 3%;
  }
}

.jugmodal {
  display: none;
}

.jugmodal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.jugfiltermodal {
  display: none;
}

.jugfiltermodal_active {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/shower/abc.jpg), url(../img/shower/back.png);
  background-position: left center, center right;
  background-size: 41%, cover;
  background-repeat: repeat-y, no-repeat;
}

.jugmodal__img {
  height: 50%;
  margin: auto;
}

.jugmodal__button {
  outline: none !important;
  font-weight: 500;
  font-size: 18px;
  padding: 9px 56px !important;
  margin-top: 3%;
}

.jugmodal-block {
  text-align: center;
}

.jug-block__text {
  text-align: left;
  margin-left: 17%;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 5%;
}

@media (max-width: 767.98px) {
  .jugmodal__img {
    height: 40%;
  }
  .jugfiltermodal_active {
    background-size: 47%, cover;
  }
  .jug-block__text {
    margin-left: 7%;
    margin-top: 0%;
  }
  .owljug {
    width: 53%;
  }
}

@media (max-width: 575.98px) {
  .jugfiltermodal_active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 100%, cover;
  }
  .owljug {
    background: #EEFAFF;
    width: 100%;
  }
  .jugmodal__img {
    margin-top: 10%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 575.98px) {
  body {
    margin: auto;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  line-height: inherit;
}

.button {
  padding: 5px 54px;
  background: #8CDEFF;
  border: 1px solid #8CDEFF;
  border-radius: 30px;
  outline: none;
}

.button:hover {
  background: #AAE6FF;
  border: 1px solid #AAE6FF;
}

h4 {
  padding-bottom: 7%;
}

h5 {
  text-align: center;
  color: #00ABF1;
  padding: 40px 0;
}

@media (max-width: 991.98px) {
  h5 {
    font-size: 19px;
  }
  .button {
    padding: 5px 41px;
  }
  h4 {
    padding-bottom: 3%;
  }
}

@media (max-width: 767.98px) {
  h4 {
    padding-bottom: 1%;
    text-align: center;
  }
  h5 {
    padding: 20px 0;
  }
}

@media (max-width: 540px) {
  h5 {
    font-size: 17px;
  }
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  h4 {
    font-size: 19px;
  }
}

.container {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */